/* ------------------------------ *\
#GLOBAL SETTINGS
\* ------------------------------ */

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url('./assets/image1.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  color: white;
  font-family: 'tahoma';
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
/* ------------------------------ *\
  #MAIN CONTAINER
\* ------------------------------ */
/* .gameContainer {
  display: flex;
  flex-direction: column;
} */
.pokerContainer {
  padding-top: 40px;
}
.btnContainer {
  margin-top: 20px;
}
.player-element {
  padding: 10px 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: inline-block;
}
.start-btn {
  margin-bottom: 10px;
}
#message-el {
  padding: 10px 0;
}
#poker-el  {
  font-family: 'Arial';
  color: goldenrod;
  font-size: 18px;
}
#card-el {
  /* color: whitesmoke; */
  color: #fdfdfd;
  font-weight: bold;
  padding: 4px;
  margin: 0;
}
#sum-el {
  color: #d3a9a9;
  font-weight: bold;
  padding: 14px;
}

/* ------------------------------ *\
#BUTTONS
\* ------------------------------ */
button {
  display: block;
  padding: 5px 30px;
  margin-top: 15px;
  display: block;
  margin: auto;
  margin-bottom: 7px;
  width: 150px;
  cursor: pointer;
  background: linear-gradient(to left,#07bcf3 50%, #098a1a 50%);
  border: none;
  background-size: 200% 100%;
  background-position: right bottom;
  border-radius: 3px;
  box-shadow: 1px 2px 8px rgb(0, 0, 0.2);
  transition: all 0.5s ease;
}
button:hover {
  background-position: left bottom;
  color: #fff;
  font-weight: bold;
}
.resetContainer p {
  display: block;
  color: #fff;
  background-color: #b33a0b;
  font-size: 12px;
  font-weight: bold;
  width: 150px;
  height: 25px;
  padding: 5px 30px;
  margin: auto;
  margin-bottom: 7px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 1px 2px 8px rgb(0, 0, 0.2);
  transition: 0.2s ease-in;
}
.resetContainer p:hover {
  background-color: #ffff00;
  color: #000;
}
.submitContainer p {
  color: #fff;
  background-color: #ff0000;
  font-size: 12px;
  font-weight: bold;
  width: 150px;
  height: 25px;
  padding: 5px 30px;
  margin: auto;
  margin-bottom: 17px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 1px 2px 8px rgb(0, 0, 0.2);
  transition: 0.2s ease-in;
}
.submitContainer p:hover {
  background-color: #0b3ee6;
}
/* ------------------------------ *\
  #MESSAGES CONTENT
\* ------------------------------ */
.msgResult {
  color: rgb(243, 247, 4);
  font-size: 20px;
  padding: 2px 20px;
  font-weight: bold;
}
/* ------------------------------ *\
  #PLAYER INFO
\* ------------------------------ */
#player-el {
  color: #ebfc07;
  font-weight: bold;
}
 
/* ------------------------------ *\
  #INPUT FIELDS
\* ------------------------------ */
.input-container input {
  margin: auto;
  margin: 10px 0;
  width: 170px;
  height: 25px;
  border-radius: 4px;
  border: 1px solid #fff;
  padding: 10px 10px;
  font-weight: bold;
}
.input-container input:focus {
  outline: none;
}

/* .playerName input {
  padding: 4px;
  color: yellow;
} */



/* .input-element {
  padding: 8px;
  margin: 10px 0;
  width: 170px;
  color: rgb(9, 220, 248);
}
.input-element:focus {
  outline: none;
}
.player-el input:focus {
  outline: none;
} */

/* ------------------------------ *\
  #GAME INSTRUCTIONS
\* ------------------------------ */
.gameMechanics {
  padding: 0px 5px;
}
.gMech {
  font-weight: lighter;
  font-weight: bold;
  font-size: 13px;
  margin: 10px 0px 0px 0px;
  font-family: 'Courier';
}
p.mechList  {
  margin-top: 0px;
}
.mechList span  {
  color: darkgray;
  list-style-type: none;
  font-size: 10px;
 }

 /* ------------------------------ *\
  #FOOTER INFO
\* ------------------------------ */
 footer {
   background-color: #05550b;
   padding: 5px;
   width: 100%;
   margin-top: 15px;
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   margin-left: auto;
   margin-right: auto;
  }
  footer p {
  font-size: 10px;
  color: #999895;
  text-align: center;
}
footer span {
  color: #ffff00;
  opacity: 70%;
}
/* ------------------------------ *\
  #RESPONSIVENESS
\* ------------------------------ */
@media(max-width: 550px) {
  .gameContainer {
    width: 100%;
    margin: 0;
    padding-top: 30px;
  }
  .gameMechanics {
    padding: 0px 10px;
  }
};
/* RESPONSIVE FOR LARGER THAN 992px DEVICE */
@media (min-width: 992px) {
  .gameContainer {
    width: 100%;
    margin-top: 40px;
  }
}
/* RESPONSIVE FOR LARGER THAN 550px DEVICE */
@media(min-width: 550px) {
  
  html {
    font-size: 18px;
  }
  .pokerContainer {
    width: 100%;
    margin-top: 50px;
  }
  .gameMechanics {
    margin-top: 20px;
  }
  .input-container {
    margin-top: 10px;
  }
  .submitBtn {
    margin-top: 10px;
  }
};


  
 
  
